@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button animation css */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spin 1s linear infinite;
}

.quill-editor-container {
  overflow: hidden;
  -webkit-box-shadow: 0px 11px 21px -20px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 11px 21px -20px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 11px 21px -20px rgba(0, 0, 0, 0.54);
  padding: 0;
  border-radius: 4px;
}

.quill-editor {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.ql-editor {
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.ql-toolbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
  overflow-x: auto;
  white-space: nowrap;
}

/* Scrollbar Styling */
.ql-toolbar::-webkit-scrollbar {
  height: 4px;
}

.ql-toolbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.ql-toolbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.ql-toolbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.ql-container {
  background-color: #ffffff;
}

.access-btn {
  margin-top: auto !important;
}

/* Container for slider */
.slider-container {
  padding: 0 20px;
}

/* Slider track styling */
.slick-track {
  display: flex;
}

/* Styling for each slide */
.slick-slide {
  display: flex;
  justify-content: center;
}

/* Spacing between the slides */
.slick-slide > div {
  margin: 0 10px;
}

.slider-container {
  position: relative;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev {
  left: 16px;
}

.slick-next {
  right: 16px;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

/* Styles for arrows */
.arrow {
  background: rgba(99, 102, 241, 0.8); /*  transparent Indigo-600 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transitions */

  padding: 5px !important;
  width: 40px !important;
  height: 40px !important;
}

/* Hover effect */
.arrow:hover {
  background: rgba(
    99,
    102,
    241,
    1
  ); /* Change background to fully opaque on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Add a more noticeable shadow on hover */
  /* transform: scale(1.1);  */
  /* Slightly enlarge on hover */
}

/* Click effect */
.arrow:active {
  background: rgba(99, 102, 241, 0.6); /* Darker background on click */
  transform: scale(0.95); /* Slightly shrink on click */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow on click */
}

.slick-dots {
  display: none !important;
}