@tailwind base;
@tailwind components;
@tailwind utilities;


.quill-editor-container {
  overflow: hidden;
  -webkit-box-shadow: 0px 11px 21px -20px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 11px 21px -20px rgba(0,0,0,0.54);
  box-shadow: 0px 11px 21px -20px rgba(0,0,0,0.54);
  padding: 0;
  border-radius: 4px;
}

.quill-editor {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.ql-editor {
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.ql-toolbar {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
  overflow-x: auto;
  white-space: nowrap;
}

/* Scrollbar Styling */
.ql-toolbar::-webkit-scrollbar {
  height: 4px;
}

.ql-toolbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.ql-toolbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.ql-toolbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.ql-container {
  background-color: #ffffff;
}

.access-btn {
  margin-top: auto !important;
}
